body{
    text-align: center;
    background-image: url("../img/wp2757874.gif");
    color: white;
    margin: 0px;
    padding: 0px;
    
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 10px;
    margin-bottom: 90px;
    color: hwb(0deg 21% 11%);
    border: 1px solid rgb(247, 249, 255);
    background-color: rgb(17, 16, 16);
}
h2{
    margin-top: 30px;
    color: hwb(0deg 21% 11%);
 
}
p{
    font-size: 20px;
}
.input{
    margin-bottom: 20px;
}
.inline{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
button{
    color:white ;
    background-color: rgb(17, 16, 16);
    border: solid 1px rgb(252, 253, 255);
    width: 300px;
    height: 30px;
    margin-top: 20px;
}
input{
    background-color: rgb(39, 39, 39);
    background-size: cover;
    color: hwb(0deg 21% 11%);
    border: 1px solid rgb(255, 255, 255);
    height: 25px;
    width: 250px;
}